  --pea-base-white: #ffffff;
  --pea-base-black: #000000;
  --pea-base-transparent: rgba(255, 255, 255, 0);
  --pea-gray-25: #fdfdfd;
  --pea-gray-50: #fafafa;
  --pea-gray-100: #f5f5f5;
  --pea-gray-200: #e9eaeb;
  --pea-gray-300: #d5d7da;
  --pea-gray-400: #a4a7ae;
  --pea-gray-500: #717680;
  --pea-gray-600: #535862;
  --pea-gray-700: #414651;
  --pea-gray-800: #252b37;
  --pea-gray-900: #181d27;
  --pea-gray-950: #0a0d12;
  --pea-gray-dark-mode-25: #fafafa;
  --pea-gray-dark-mode-50: #f7f7f7;
  --pea-gray-dark-mode-100: #f0f0f1;
  --pea-gray-dark-mode-200: #ececed;
  --pea-gray-dark-mode-300: #cecfd2;
  --pea-gray-dark-mode-400: #94979c;
  --pea-gray-dark-mode-500: #85888e;
  --pea-gray-dark-mode-600: #61656c;
  --pea-gray-dark-mode-700: #373a41;
  --pea-gray-dark-mode-800: #22262f;
  --pea-gray-dark-mode-900: #13161b;
  --pea-gray-dark-mode-950: #0c0e12;
  --pea-gray-dark-mode-alpha-25: rgba(255, 255, 255, 0.98);
  --pea-gray-dark-mode-alpha-50: rgba(255, 255, 255, 0.96);
  --pea-gray-dark-mode-alpha-100: rgba(255, 255, 255, 0.94);
  --pea-gray-dark-mode-alpha-200: rgba(255, 255, 255, 0.92);
  --pea-gray-dark-mode-alpha-300: rgba(255, 255, 255, 0.8);
  --pea-gray-dark-mode-alpha-400: rgba(255, 255, 255, 0.56);
  --pea-gray-dark-mode-alpha-500: rgba(255, 255, 255, 0.5);
  --pea-gray-dark-mode-alpha-600: rgba(255, 255, 255, 0.35);
  --pea-gray-dark-mode-alpha-700: rgba(255, 255, 255, 0.16);
  --pea-gray-dark-mode-alpha-800: rgba(255, 255, 255, 0.08);
  --pea-gray-dark-mode-alpha-900: rgba(255, 255, 255, 0.04);
  --pea-gray-dark-mode-alpha-950: rgba(255, 255, 255, 0);
  --pea-error-25: #fffbfa;
  --pea-error-50: #fef3f2;
  --pea-error-100: #fee4e2;
  --pea-error-200: #fecdca;
  --pea-error-300: #fda29b;
  --pea-error-400: #f97066;
  --pea-error-500: #f04438;
  --pea-error-600: #d92d20;
  --pea-error-700: #b42318;
  --pea-error-800: #912018;
  --pea-error-900: #7a271a;
  --pea-error-950: #55160c;
  --pea-warning-25: #fffcf5;
  --pea-warning-50: #fffaeb;
  --pea-warning-100: #fef0c7;
  --pea-warning-200: #fedf89;
  --pea-warning-300: #fec84b;
  --pea-warning-400: #fdb022;
  --pea-warning-500: #f79009;
  --pea-warning-600: #dc6803;
  --pea-warning-700: #b54708;
  --pea-warning-800: #93370d;
  --pea-warning-900: #7a2e0e;
  --pea-warning-950: #4e1d09;
  --pea-success-25: #f6fef9;
  --pea-success-50: #ecfdf3;
  --pea-success-100: #dcfae6;
  --pea-success-200: #abefc6;
  --pea-success-300: #75e0a7;
  --pea-success-400: #47cd89;
  --pea-success-500: #17b26a;
  --pea-success-600: #079455;
  --pea-success-700: #067647;
  --pea-success-800: #085d3a;
  --pea-success-900: #074d31;
  --pea-success-950: #053321;
  --pea-contrast-yellow-hc: #fff157;
  --pea-contrast-yellow-hc-dark: #ffd700;
  --pea-contrast-pink-hc: #ff57d2;
  --pea-contrast-error-hc: #ff6666;
  --pea-contrast-error-hc-dark: #e65c5c;
  --pea-contrast-warning-hc: #ffa500;
  --pea-contrast-success-hc: #00ff00;
  --pea-gray-blue-25: #fcfcfd;
  --pea-gray-blue-50: #f8f9fc;
  --pea-gray-blue-100: #eaecf5;
  --pea-gray-blue-200: #d5d9eb;
  --pea-gray-blue-300: #b3b8db;
  --pea-gray-blue-400: #717bbc;
  --pea-gray-blue-500: #4e5ba6;
  --pea-gray-blue-600: #3e4784;
  --pea-gray-blue-700: #363f72;
  --pea-gray-blue-800: #293056;
  --pea-gray-blue-900: #101323;
  --pea-gray-blue-950: #0d0f1c;
  --pea-gray-cool-25: #fcfcfd;
  --pea-gray-cool-50: #f9f9fb;
  --pea-gray-cool-100: #eff1f5;
  --pea-gray-cool-200: #dcdfea;
  --pea-gray-cool-300: #b9c0d4;
  --pea-gray-cool-400: #7d89b0;
  --pea-gray-cool-500: #5d6b98;
  --pea-gray-cool-600: #4a5578;
  --pea-gray-cool-700: #404968;
  --pea-gray-cool-800: #30374f;
  --pea-gray-cool-900: #111322;
  --pea-gray-cool-950: #0e101b;
  --pea-gray-modern-25: #fcfcfd;
  --pea-gray-modern-50: #f8fafc;
  --pea-gray-modern-100: #eef2f6;
  --pea-gray-modern-200: #e3e8ef;
  --pea-gray-modern-300: #cdd5df;
  --pea-gray-modern-400: #9aa4b2;
  --pea-gray-modern-500: #697586;
  --pea-gray-modern-600: #4b5565;
  --pea-gray-modern-700: #364152;
  --pea-gray-modern-800: #202939;
  --pea-gray-modern-900: #121926;
  --pea-gray-modern-950: #0d121c;
  --pea-gray-neutral-25: #fcfcfd;
  --pea-gray-neutral-50: #f9fafb;
  --pea-gray-neutral-100: #f3f4f6;
  --pea-gray-neutral-200: #e5e7eb;
  --pea-gray-neutral-300: #d2d6db;
  --pea-gray-neutral-400: #9da4ae;
  --pea-gray-neutral-500: #6c737f;
  --pea-gray-neutral-600: #4d5761;
  --pea-gray-neutral-700: #384250;
  --pea-gray-neutral-800: #1f2a37;
  --pea-gray-neutral-900: #111927;
  --pea-gray-neutral-950: #0d121c;
  --pea-gray-iron-25: #fcfcfc;
  --pea-gray-iron-50: #fafafa;
  --pea-gray-iron-100: #f4f4f5;
  --pea-gray-iron-200: #e4e4e7;
  --pea-gray-iron-300: #d1d1d6;
  --pea-gray-iron-400: #a0a0ab;
  --pea-gray-iron-500: #70707b;
  --pea-gray-iron-600: #51525c;
  --pea-gray-iron-700: #3f3f46;
  --pea-gray-iron-800: #26272b;
  --pea-gray-iron-900: #1a1a1e;
  --pea-gray-iron-950: #131316;
  --pea-gray-true-25: #fcfcfc;
  --pea-gray-true-50: #f7f7f7;
  --pea-gray-true-100: #f5f5f5;
  --pea-gray-true-200: #e5e5e5;
  --pea-gray-true-300: #d6d6d6;
  --pea-gray-true-400: #a3a3a3;
  --pea-gray-true-500: #737373;
  --pea-gray-true-600: #525252;
  --pea-gray-true-700: #424242;
  --pea-gray-true-800: #292929;
  --pea-gray-true-900: #141414;
  --pea-gray-true-950: #0f0f0f;
  --pea-gray-warm-25: #fdfdfc;
  --pea-gray-warm-50: #fafaf9;
  --pea-gray-warm-100: #f5f5f4;
  --pea-gray-warm-200: #e7e5e4;
  --pea-gray-warm-300: #d7d3d0;
  --pea-gray-warm-400: #a9a29d;
  --pea-gray-warm-500: #79716b;
  --pea-gray-warm-600: #57534e;
  --pea-gray-warm-700: #44403c;
  --pea-gray-warm-800: #292524;
  --pea-gray-warm-900: #1c1917;
  --pea-gray-warm-950: #171412;
  --pea-moss-25: #fafdf7;
  --pea-moss-50: #f5fbee;
  --pea-moss-100: #e6f4d7;
  --pea-moss-200: #ceeab0;
  --pea-moss-300: #acdc79;
  --pea-moss-400: #86cb3c;
  --pea-moss-500: #669f2a;
  --pea-moss-600: #4f7a21;
  --pea-moss-700: #3f621a;
  --pea-moss-800: #335015;
  --pea-moss-900: #2b4212;
  --pea-moss-950: #1a280b;
  --pea-green-light-25: #fafef5;
  --pea-green-light-50: #f3fee7;
  --pea-green-light-100: #e3fbcc;
  --pea-green-light-200: #d0f8ab;
  --pea-green-light-300: #a6ef67;
  --pea-green-light-400: #85e13a;
  --pea-green-light-500: #66c61c;
  --pea-green-light-600: #4ca30d;
  --pea-green-light-700: #3b7c0f;
  --pea-green-light-800: #326212;
  --pea-green-light-900: #2b5314;
  --pea-green-light-950: #15290a;
  --pea-green-25: #f6fef9;
  --pea-green-50: #edfcf2;
  --pea-green-100: #d3f8df;
  --pea-green-200: #aaf0c4;
  --pea-green-300: #73e2a3;
  --pea-green-400: #3ccb7f;
  --pea-green-500: #16b364;
  --pea-green-600: #099250;
  --pea-green-700: #087443;
  --pea-green-800: #095c37;
  --pea-green-900: #084c2e;
  --pea-green-950: #052e1c;
  --pea-teal-25: #f6fefc;
  --pea-teal-50: #f0fdf9;
  --pea-teal-100: #ccfbef;
  --pea-teal-200: #99f6e0;
  --pea-teal-300: #5fe9d0;
  --pea-teal-400: #2ed3b7;
  --pea-teal-500: #15b79e;
  --pea-teal-600: #0e9384;
  --pea-teal-700: #107569;
  --pea-teal-800: #125d56;
  --pea-teal-900: #134e48;
  --pea-teal-950: #0a2926;
  --pea-cyan-25: #f5feff;
  --pea-cyan-50: #ecfdff;
  --pea-cyan-100: #cff9fe;
  --pea-cyan-200: #a5f0fc;
  --pea-cyan-300: #67e3f9;
  --pea-cyan-400: #22ccee;
  --pea-cyan-500: #06aed4;
  --pea-cyan-600: #088ab2;
  --pea-cyan-700: #0e7090;
  --pea-cyan-800: #155b75;
  --pea-cyan-900: #164c63;
  --pea-cyan-950: #0d2d3a;
  --pea-blue-light-25: #f5fbff;
  --pea-blue-light-50: #f0f9ff;
  --pea-blue-light-100: #e0f2fe;
  --pea-blue-light-200: #b9e6fe;
  --pea-blue-light-300: #7cd4fd;
  --pea-blue-light-400: #36bffa;
  --pea-blue-light-500: #0ba5ec;
  --pea-blue-light-600: #0086c9;
  --pea-blue-light-700: #026aa2;
  --pea-blue-light-800: #065986;
  --pea-blue-light-900: #0b4a6f;
  --pea-blue-light-950: #062c41;
  --pea-blue-25: #f5faff;
  --pea-blue-50: #eff8ff;
  --pea-blue-100: #d1e9ff;
  --pea-blue-200: #b2ddff;
  --pea-blue-300: #84caff;
  --pea-blue-400: #53b1fd;
  --pea-blue-500: #2e90fa;
  --pea-blue-600: #1570ef;
  --pea-blue-700: #175cd3;
  --pea-blue-800: #1849a9;
  --pea-blue-900: #194185;
  --pea-blue-950: #102a56;
  --pea-blue-dark-25: #f5f8ff;
  --pea-blue-dark-50: #eff4ff;
  --pea-blue-dark-100: #d1e0ff;
  --pea-blue-dark-200: #b2ccff;
  --pea-blue-dark-300: #84adff;
  --pea-blue-dark-400: #528bff;
  --pea-blue-dark-500: #2970ff;
  --pea-blue-dark-600: #155eef;
  --pea-blue-dark-700: #004eeb;
  --pea-blue-dark-800: #0040c1;
  --pea-blue-dark-900: #00359e;
  --pea-blue-dark-950: #002266;
  --pea-indigo-25: #f5f8ff;
  --pea-indigo-50: #eef4ff;
  --pea-indigo-100: #e0eaff;
  --pea-indigo-200: #c7d7fe;
  --pea-indigo-300: #a4bcfd;
  --pea-indigo-400: #8098f9;
  --pea-indigo-500: #6172f3;
  --pea-indigo-600: #444ce7;
  --pea-indigo-700: #3538cd;
  --pea-indigo-800: #2d31a6;
  --pea-indigo-900: #2d3282;
  --pea-indigo-950: #1f235b;
  --pea-violet-25: #fbfaff;
  --pea-violet-50: #f5f3ff;
  --pea-violet-100: #ece9fe;
  --pea-violet-200: #ddd6fe;
  --pea-violet-300: #c3b5fd;
  --pea-violet-400: #a48afb;
  --pea-violet-500: #875bf7;
  --pea-violet-600: #7839ee;
  --pea-violet-700: #6927da;
  --pea-violet-800: #5720b7;
  --pea-violet-900: #491c96;
  --pea-violet-950: #2e125e;
  --pea-purple-25: #fafaff;
  --pea-purple-50: #f4f3ff;
  --pea-purple-100: #ebe9fe;
  --pea-purple-200: #d9d6fe;
  --pea-purple-300: #bdb4fe;
  --pea-purple-400: #9b8afb;
  --pea-purple-500: #7a5af8;
  --pea-purple-600: #6938ef;
  --pea-purple-700: #5925dc;
  --pea-purple-800: #4a1fb8;
  --pea-purple-900: #3e1c96;
  --pea-purple-950: #27115f;
  --pea-fuchsia-25: #fefaff;
  --pea-fuchsia-50: #fdf4ff;
  --pea-fuchsia-100: #fbe8ff;
  --pea-fuchsia-200: #f6d0fe;
  --pea-fuchsia-300: #eeaafd;
  --pea-fuchsia-400: #e478fa;
  --pea-fuchsia-500: #d444f1;
  --pea-fuchsia-600: #ba24d5;
  --pea-fuchsia-700: #9f1ab1;
  --pea-fuchsia-800: #821890;
  --pea-fuchsia-900: #6f1877;
  --pea-fuchsia-950: #47104c;
  --pea-pink-25: #fef6fb;
  --pea-pink-50: #fdf2fa;
  --pea-pink-100: #fce7f6;
  --pea-pink-200: #fcceee;
  --pea-pink-300: #faa7e0;
  --pea-pink-400: #f670c7;
  --pea-pink-500: #ee46bc;
  --pea-pink-600: #dd2590;
  --pea-pink-700: #c11574;
  --pea-pink-800: #9e165f;
  --pea-pink-900: #851651;
  --pea-pink-950: #4e0d30;
  --pea-rose-25: #fff5f6;
  --pea-rose-50: #fff1f3;
  --pea-rose-100: #ffe4e8;
  --pea-rose-200: #fecdd6;
  --pea-rose-300: #fea3b4;
  --pea-rose-400: #fd6f8e;
  --pea-rose-500: #f63d68;
  --pea-rose-600: #e31b54;
  --pea-rose-700: #c01048;
  --pea-rose-800: #a11043;
  --pea-rose-900: #89123e;
  --pea-rose-950: #510b24;
  --pea-orange-dark-25: #fff9f5;
  --pea-orange-dark-50: #fff4ed;
  --pea-orange-dark-100: #ffe6d5;
  --pea-orange-dark-200: #ffd6ae;
  --pea-orange-dark-300: #ff9c66;
  --pea-orange-dark-400: #ff692e;
  --pea-orange-dark-500: #ff4405;
  --pea-orange-dark-600: #e62e05;
  --pea-orange-dark-700: #bc1b06;
  --pea-orange-dark-800: #97180c;
  --pea-orange-dark-900: #771a0d;
  --pea-orange-dark-950: #57130a;
  --pea-orange-25: #fefaf5;
  --pea-orange-50: #fef6ee;
  --pea-orange-100: #fdead7;
  --pea-orange-200: #f9dbaf;
  --pea-orange-300: #f7b27a;
  --pea-orange-400: #f38744;
  --pea-orange-500: #ef6820;
  --pea-orange-600: #e04f16;
  --pea-orange-700: #b93815;
  --pea-orange-800: #932f19;
  --pea-orange-900: #772917;
  --pea-orange-950: #511c10;
  --pea-yellow-25: #fefdf0;
  --pea-yellow-50: #fefbe8;
  --pea-yellow-100: #fef7c3;
  --pea-yellow-200: #feee95;
  --pea-yellow-300: #fde272;
  --pea-yellow-400: #fac515;
  --pea-yellow-500: #eaaa08;
  --pea-yellow-600: #ca8504;
  --pea-yellow-700: #a15c07;
  --pea-yellow-800: #854a0e;
  --pea-yellow-900: #713b12;
  --pea-yellow-950: #542c0d;
  --pea-container-padding-mobile: 16px;
  --pea-container-padding-desktop: 32px;
  --pea-container-max-width-desktop: 1280px;
  --pea-rounded-none: 0;
  --pea-rounded-xxs: 2px;
  --pea-rounded-xs: 4px;
  --pea-rounded-sm: 6px;
  --pea-rounded-md: 8px;
  --pea-rounded-lg: 10px;
  --pea-rounded-xl: 12px;
  --pea-rounded-2xl: 16px;
  --pea-rounded-3xl: 20px;
  --pea-rounded-4xl: 24px;
  --pea-rounded-full: 9999px;
  --pea-size-0: 0;
  --pea-size-2: 2;
  --pea-size-4: 4;
  --pea-size-6: 6;
  --pea-size-8: 8;
  --pea-size-10: 10;
  --pea-size-12: 12;
  --pea-size-14: 14;
  --pea-size-16: 16;
  --pea-size-18: 18;
  --pea-size-20: 20;
  --pea-size-24: 24;
  --pea-size-28: 28;
  --pea-size-30: 30;
  --pea-size-32: 32;
  --pea-size-36: 36;
  --pea-size-38: 38;
  --pea-size-40: 40;
  --pea-size-44: 44;
  --pea-size-48: 48;
  --pea-size-60: 60;
  --pea-size-64: 64;
  --pea-size-72: 72;
  --pea-size-80: 80;
  --pea-size-90: 90;
  --pea-size-96: 96;
  --pea-size-128: 128;
  --pea-size-160: 160;
  --pea-size-192: 192;
  --pea-size-224: 224;
  --pea-size-256: 256;
  --pea-size-320: 320;
  --pea-size-384: 384;
  --pea-size-400: 400;
  --pea-size-480: 480;
  --pea-size-500: 500;
  --pea-size-560: 560;
  --pea-size-600: 600;
  --pea-size-640: 640;
  --pea-size-700: 700;
  --pea-size-720: 720;
  --pea-size-768: 768;
  --pea-size-1024: 1024;
  --pea-size-1280: 1280;
  --pea-size-1440: 1440;
  --pea-size-1600: 1600;
  --pea-size-1920: 1920;
  --pea-size-9999: 9999;
  --pea-size-neg1_6: -1.6;
  --pea-size-neg0_8: -0.8;
  --pea-size-neg0_4: -0.4;
  --pea-size-0_4: 0.4;
  --pea-size-0_8: 0.8;
  --pea-size-1_6: 1.6;
  --pea-space-0: 0;
  --pea-space-0_5: 2px;
  --pea-space-1: 4px;
  --pea-space-1_5: 6px;
  --pea-space-2: 8px;
  --pea-space-2_5: 10px;
  --pea-space-3: 12px;
  --pea-space-3_5: 14px;
  --pea-space-4: 16px;
  --pea-space-4_5: 18px;
  --pea-space-5: 20px;
  --pea-space-6: 24px;
  --pea-space-8: 32px;
  --pea-space-10: 40px;
  --pea-space-12: 48px;
  --pea-space-16: 64px;
  --pea-space-20: 80px;
  --pea-space-24: 96px;
  --pea-space-32: 128px;
  --pea-space-40: 160px;
  --pea-font-family-display: IBM Plex Sans Thai, sans-serif;
  --pea-font-family-body: Google Sans, sans-serif;
  --pea-font-weight-normal: 400;
  --pea-font-weight-medium: 500;
  --pea-font-weight-semibold: 600;
  --pea-font-weight-bold: 700;
  --pea-font-size-text-xs: 12px;
  --pea-font-size-text-sm: 14px;
  --pea-font-size-text-md: 16px;
  --pea-font-size-text-lg: 18px;
  --pea-font-size-text-xl: 20px;
  --pea-font-size-display-xs: 24px;
  --pea-font-size-display-sm: 30px;
  --pea-font-size-display-md: 36px;
  --pea-font-size-display-lg: 48px;
  --pea-font-size-display-xl: 60px;
  --pea-font-size-display-2xl: 72px;
  --pea-line-height-text-xs: 18px;
  --pea-line-height-text-sm: 20px;
  --pea-line-height-text-md: 24px;
  --pea-line-height-text-lg: 28px;
  --pea-line-height-text-xl: 30px;
  --pea-line-height-display-xs: 32px;
  --pea-line-height-display-sm: 38px;
  --pea-line-height-display-md: 44px;
  --pea-line-height-display-lg: 60px;
  --pea-line-height-display-xl: 72px;
  --pea-line-height-display-2xl: 90px;
  --pea-letter-spacing-tightest: -1.6px;
  --pea-letter-spacing-tighter: -0.8px;
  --pea-letter-spacing-tight: -0.4px;
  --pea-letter-spacing-normal: 0;
  --pea-letter-spacing-wide: 0.4px;
  --pea-letter-spacing-wider: 0.8px;
  --pea-letter-spacing-widest: 1.6px;
  --pea-w-xxs: 320px;
  --pea-w-xs: 384px;
  --pea-w-sm: 480px;
  --pea-w-md: 560px;
  --pea-w-lg: 640px;
  --pea-w-xl: 768px;
  --pea-w-2xl: 1024px;
  --pea-w-3xl: 1280px;
  --pea-w-4xl: 1440px;
  --pea-w-5xl: 1600px;
  --pea-w-6xl: 1920px;
  --pea-max-w-paragraph: 720px;
  --pea-brand-primary-25: #fff7ff;
  --pea-brand-primary-50: #fdeefc;
  --pea-brand-primary-100: #fbd9f9;
  --pea-brand-primary-200: #f8bff4;
  --pea-brand-primary-300: #f4a1ec;
  --pea-brand-primary-400: #ef82e1;
  --pea-brand-primary-500: #e95ed2;
  --pea-brand-primary-600: #e134c1;
  --pea-brand-primary-700: #cf07aa;
  --pea-brand-primary-800: #a80689;
  --pea-brand-primary-900: #74045f;
  --pea-brand-primary-950: #450239;
  --pea-brand-secondary-25: #fff9e6;
  --pea-brand-secondary-50: #fff1c2;
  --pea-brand-secondary-100: #fee699;
  --pea-brand-secondary-200: #fdd970;
  --pea-brand-secondary-300: #fbc947;
  --pea-brand-secondary-400: #f4b82e;
  --pea-brand-secondary-500: #edaa2b;
  --pea-brand-secondary-600: #e2a727;
  --pea-brand-secondary-700: #b8851e;
  --pea-brand-secondary-800: #8e6516;
  --pea-brand-secondary-900: #65460f;
  --pea-brand-secondary-950: #3d2908;
  --pea-ref-text-secondary-on-brand: #f8bff4;
  --pea-ref-text-tertiary-on-brand: #f8bff4;
  --pea-ref-text-quaternary-on-brand: #f4a1ec;
  --pea-ref-text-brand-primary: #74045f;
  --pea-ref-text-brand-secondary: #a80689;
  --pea-ref-text-brand-secondary-hover: #74045f;
  --pea-ref-text-brand-tertiary: #cf07aa;
  --pea-ref-text-brand-tertiary-alt: #cf07aa;
  --pea-ref-border-brand: #cf07aa;
  --pea-ref-border-brand-dark-mode: #e134c1;
  --pea-ref-border-brand-alt: #a80689;
  --pea-ref-fg-brand-primary: #a80689;
  --pea-ref-fg-brand-primary-dark-mode: #e134c1;
  --pea-ref-fg-brand-primary-alt: #cf07aa;
  --pea-ref-fg-brand-primary-on-brand: #a80689;
  --pea-ref-fg-brand-primary-on-brand-dark-mode: #fbd9f9;
  --pea-ref-fg-brand-secondary: #e134c1;
  --pea-ref-fg-brand-secondary-dark-mode: #e95ed2;
  --pea-ref-fg-brand-secondary-alt: #e134c1;
  --pea-ref-fg-brand-secondary-hover: #cf07aa;
  --pea-ref-bg-brand-primary: #fdeefc;
  --pea-ref-bg-brand-primary-dark-mode: #e95ed2;
  --pea-ref-bg-brand-primary-alt: #fdeefc;
  --pea-ref-bg-brand-secondary: #fdeefc;
  --pea-ref-bg-brand-secondary-dark-mode: #e134c1;
  --pea-ref-bg-brand-solid: #a80689;
  --pea-ref-bg-brand-solid-dark-mode: #cf07aa;
  --pea-ref-bg-brand-solid-hover: #74045f;
  --pea-ref-bg-brand-solid-hover-dark-mode: #e134c1;
  --pea-ref-bg-brand-section: #74045f;
  --pea-ref-bg-brand-section-subtle: #a80689;
  --pea-ref-focus-ring-brand: #cf07aa;
  --pea-ref-focus-ring-brand-dark-mode: #e134c1;
  --pea-ref-chart-data-1-bg: #74045f;
  --pea-ref-chart-data-2-bg: #a80689;
  --pea-ref-chart-data-3-bg: #e134c1;
  --pea-ref-chart-data-4-bg: #ef82e1;
  --pea-ref-chart-data-5-bg: #f8bff4;
  --pea-ref-chart-data-6-bg: #fdeefc;
  --pea-ref-chart-data-1-bg-dark-mode: #a80689;
  --pea-ref-chart-data-2-bg-dark-mode: #e134c1;
  --pea-ref-chart-data-3-bg-dark-mode: #ef82e1;
  --pea-ref-chart-data-4-bg-dark-mode: #f8bff4;
  --pea-ref-chart-data-5-bg-dark-mode: #fbd9f9;
  --pea-ref-chart-data-6-bg-dark-mode: #fff7ff;
  --pea-ref-featured-icon-border-brand: #fdeefc;
  --pea-ref-featured-icon-border-brand-dark-mode: #e134c1;