  --pea-text-primary: #f7f7f7;
  --pea-text-primary-on-brand: #f7f7f7;
  --pea-text-secondary: #cecfd2;
  --pea-text-secondary-hover: #ececed;
  --pea-text-secondary-on-brand: #cecfd2;
  --pea-text-tertiary: #94979c;
  --pea-text-tertiary-hover: #cecfd2;
  --pea-text-tertiary-on-brand: #94979c;
  --pea-text-quaternary: #94979c;
  --pea-text-quaternary-on-brand: #94979c;
  --pea-text-white: #ffffff;
  --pea-text-disabled: #85888e;
  --pea-text-placeholder: #85888e;
  --pea-text-placeholder-subtle: #373a41;
  --pea-text-brand-primary: #f7f7f7;
  --pea-text-brand-secondary: #cecfd2;
  --pea-text-brand-secondary-hover: #ececed;
  --pea-text-brand-tertiary: #94979c;
  --pea-text-brand-tertiary-alt: #f7f7f7;
  --pea-text-error-primary: #f97066;
  --pea-text-error-primary-hover: #fda29b;
  --pea-text-warning-primary: #fdb022;
  --pea-text-success-primary: #47cd89;
  --pea-border-primary: #373a41;
  --pea-border-secondary: #22262f;
  --pea-border-secondary-alt: #22262f;
  --pea-border-tertiary: #22262f;
  --pea-border-disabled: #373a41;
  --pea-border-disabled-subtle: #22262f;
  --pea-border-brand: #e134c1;
  --pea-border-brand-alt: #373a41;
  --pea-border-error: #f97066;
  --pea-border-error-subtle: #f04438;
  --pea-fg-primary: #ffffff;
  --pea-fg-secondary: #cecfd2;
  --pea-fg-secondary-hover: #ececed;
  --pea-fg-tertiary: #94979c;
  --pea-fg-tertiary-hover: #cecfd2;
  --pea-fg-quaternary: #61656c;
  --pea-fg-quaternary-hover: #85888e;
  --pea-fg-white: #ffffff;
  --pea-fg-disabled: #85888e;
  --pea-fg-disabled-subtle: #61656c;
  --pea-fg-brand-primary: #e134c1;
  --pea-fg-brand-primary-alt: #cecfd2;
  --pea-fg-brand-primary-on-brand: #fbd9f9;
  --pea-fg-brand-secondary: #e95ed2;
  --pea-fg-brand-secondary-alt: #61656c;
  --pea-fg-brand-secondary-hover: #85888e;
  --pea-fg-error-primary: #f04438;
  --pea-fg-error-secondary: #f97066;
  --pea-fg-warning-primary: #f79009;
  --pea-fg-warning-secondary: #fdb022;
  --pea-fg-success-primary: #17b26a;
  --pea-fg-success-secondary: #47cd89;
  --pea-bg-primary: #0c0e12;
  --pea-bg-primary-alt: #13161b;
  --pea-bg-primary-hover: #22262f;
  --pea-bg-primary-solid: #13161b;
  --pea-bg-secondary: #13161b;
  --pea-bg-secondary-alt: #0c0e12;
  --pea-bg-secondary-hover: #22262f;
  --pea-bg-secondary-subtle: #13161b;
  --pea-bg-secondary-solid: #61656c;
  --pea-bg-tertiary: #22262f;
  --pea-bg-quaternary: #373a41;
  --pea-bg-active: #22262f;
  --pea-bg-disabled: #22262f;
  --pea-bg-disabled-subtle: #13161b;
  --pea-bg-overlay: #22262f;
  --pea-bg-brand-primary: #e95ed2;
  --pea-bg-brand-primary-alt: #22262f;
  --pea-bg-brand-secondary: #e134c1;
  --pea-bg-brand-solid: #cf07aa;
  --pea-bg-brand-solid-hover: #e134c1;
  --pea-bg-brand-section: #13161b;
  --pea-bg-brand-section-subtle: #0c0e12;
  --pea-bg-error-primary: #55160c;
  --pea-bg-error-secondary: #d92d20;
  --pea-bg-error-solid: #d92d20;
  --pea-bg-error-solid-hover: #f04438;
  --pea-bg-warning-primary: #4e1d09;
  --pea-bg-warning-secondary: #dc6803;
  --pea-bg-warning-solid: #dc6803;
  --pea-bg-success-primary: #053321;
  --pea-bg-success-secondary: #079455;
  --pea-bg-success-solid: #079455;
  --pea-effect-focus-ring-brand: #e134c1;
  --pea-effect-focus-ring-error: #f04438;
  --pea-effect-shadow-xs: rgba(255, 255, 255, 0);
  --pea-effect-shadow-sm-01: rgba(255, 255, 255, 0);
  --pea-effect-shadow-sm-02: rgba(255, 255, 255, 0);
  --pea-effect-shadow-md-01: rgba(255, 255, 255, 0);
  --pea-effect-shadow-md-02: rgba(255, 255, 255, 0);
  --pea-effect-shadow-lg-01: rgba(255, 255, 255, 0);
  --pea-effect-shadow-lg-02: rgba(255, 255, 255, 0);
  --pea-effect-shadow-lg-03: rgba(255, 255, 255, 0);
  --pea-effect-shadow-xl-01: rgba(255, 255, 255, 0);
  --pea-effect-shadow-xl-02: rgba(255, 255, 255, 0);
  --pea-effect-shadow-xl-03: rgba(255, 255, 255, 0);
  --pea-effect-shadow-2xl-01: rgba(255, 255, 255, 0);
  --pea-effect-shadow-2xl-02: rgba(255, 255, 255, 0);
  --pea-effect-shadow-3xl-01: rgba(255, 255, 255, 0);
  --pea-effect-shadow-3xl-02: rgba(255, 255, 255, 0);
  --pea-effect-shadow-skeumorphic-inner: rgba(12, 14, 18, 0.05);
  --pea-effect-shadow-skeumorphic-inner-border: rgba(12, 14, 18, 0.18);
  --pea-effect-portfolio-mockup-shadow-main-centre-md: rgba(255, 255, 255, 0);
  --pea-effect-portfolio-mockup-shadow-main-centre-lg: rgba(255, 255, 255, 0);
  --pea-effect-portfolio-mockup-shadow-overlay-lg: rgba(255, 255, 255, 0);
  --pea-effect-portfolio-mockup-shadow-grid-md: rgba(255, 255, 255, 0);
  --pea-alpha-white-10: rgba(12, 14, 18, 0.1);
  --pea-alpha-white-20: rgba(12, 14, 18, 0.2);
  --pea-alpha-white-30: rgba(12, 14, 18, 0.3);
  --pea-alpha-white-40: rgba(12, 14, 18, 0.4);
  --pea-alpha-white-50: rgba(12, 14, 18, 0.5);
  --pea-alpha-white-60: rgba(12, 14, 18, 0.6);
  --pea-alpha-white-70: rgba(12, 14, 18, 0.7);
  --pea-alpha-white-80: rgba(12, 14, 18, 0.8);
  --pea-alpha-white-90: rgba(12, 14, 18, 0.9);
  --pea-alpha-white-100: #0c0e12;
  --pea-alpha-black-10: rgba(255, 255, 255, 0.1);
  --pea-alpha-black-20: rgba(255, 255, 255, 0.2);
  --pea-alpha-black-30: rgba(255, 255, 255, 0.3);
  --pea-alpha-black-40: rgba(255, 255, 255, 0.4);
  --pea-alpha-black-50: rgba(255, 255, 255, 0.5);
  --pea-alpha-black-60: rgba(255, 255, 255, 0.6);
  --pea-alpha-black-70: rgba(255, 255, 255, 0.7);
  --pea-alpha-black-80: rgba(255, 255, 255, 0.8);
  --pea-alpha-black-90: rgba(255, 255, 255, 0.9);
  --pea-alpha-black-100: #ffffff;
  --pea-utility-gray-50: #13161b;
  --pea-utility-gray-100: #22262f;
  --pea-utility-gray-200: #373a41;
  --pea-utility-gray-300: #373a41;
  --pea-utility-gray-400: #61656c;
  --pea-utility-gray-500: #85888e;
  --pea-utility-gray-600: #94979c;
  --pea-utility-gray-700: #cecfd2;
  --pea-utility-gray-800: #ececed;
  --pea-utility-gray-900: #f0f0f1;
  --pea-utility-brand-50: #450239;
  --pea-utility-brand-100: #74045f;
  --pea-utility-brand-200: #a80689;
  --pea-utility-brand-300: #cf07aa;
  --pea-utility-brand-400: #e134c1;
  --pea-utility-brand-500: #e95ed2;
  --pea-utility-brand-600: #ef82e1;
  --pea-utility-brand-700: #f4a1ec;
  --pea-utility-brand-800: #f8bff4;
  --pea-utility-brand-900: #fbd9f9;
  --pea-utility-brand-50-alt: #13161b;
  --pea-utility-brand-100-alt: #22262f;
  --pea-utility-brand-200-alt: #373a41;
  --pea-utility-brand-300-alt: #373a41;
  --pea-utility-brand-400-alt: #61656c;
  --pea-utility-brand-500-alt: #85888e;
  --pea-utility-brand-600-alt: #94979c;
  --pea-utility-brand-700-alt: #cecfd2;
  --pea-utility-brand-800-alt: #ececed;
  --pea-utility-brand-900-alt: #f0f0f1;
  --pea-utility-error-50: #55160c;
  --pea-utility-error-100: #7a271a;
  --pea-utility-error-200: #912018;
  --pea-utility-error-300: #b42318;
  --pea-utility-error-400: #d92d20;
  --pea-utility-error-500: #f04438;
  --pea-utility-error-600: #f97066;
  --pea-utility-error-700: #fda29b;
  --pea-utility-warning-50: #4e1d09;
  --pea-utility-warning-100: #7a2e0e;
  --pea-utility-warning-200: #93370d;
  --pea-utility-warning-300: #b54708;
  --pea-utility-warning-400: #dc6803;
  --pea-utility-warning-500: #f79009;
  --pea-utility-warning-600: #fdb022;
  --pea-utility-warning-700: #fec84b;
  --pea-utility-success-50: #053321;
  --pea-utility-success-100: #074d31;
  --pea-utility-success-200: #085d3a;
  --pea-utility-success-300: #067647;
  --pea-utility-success-400: #079455;
  --pea-utility-success-500: #17b26a;
  --pea-utility-success-600: #47cd89;
  --pea-utility-success-700: #75e0a7;
  --pea-utility-gray-blue-50: #0d0f1c;
  --pea-utility-gray-blue-100: #101323;
  --pea-utility-gray-blue-200: #293056;
  --pea-utility-gray-blue-300: #363f72;
  --pea-utility-gray-blue-400: #3e4784;
  --pea-utility-gray-blue-500: #4e5ba6;
  --pea-utility-gray-blue-600: #717bbc;
  --pea-utility-gray-blue-700: #b3b8db;
  --pea-utility-green-50: #052e1c;
  --pea-utility-green-100: #084c2e;
  --pea-utility-green-200: #095c37;
  --pea-utility-green-300: #087443;
  --pea-utility-green-400: #099250;
  --pea-utility-green-500: #16b364;
  --pea-utility-green-600: #3ccb7f;
  --pea-utility-green-700: #73e2a3;
  --pea-utility-blue-light-50: #062c41;
  --pea-utility-blue-light-100: #0b4a6f;
  --pea-utility-blue-light-200: #065986;
  --pea-utility-blue-light-300: #026aa2;
  --pea-utility-blue-light-400: #0086c9;
  --pea-utility-blue-light-500: #0ba5ec;
  --pea-utility-blue-light-600: #36bffa;
  --pea-utility-blue-light-700: #7cd4fd;
  --pea-utility-blue-50: #102a56;
  --pea-utility-blue-100: #194185;
  --pea-utility-blue-200: #1849a9;
  --pea-utility-blue-300: #175cd3;
  --pea-utility-blue-400: #1570ef;
  --pea-utility-blue-500: #2e90fa;
  --pea-utility-blue-600: #53b1fd;
  --pea-utility-blue-700: #84caff;
  --pea-utility-blue-dark-50: #002266;
  --pea-utility-blue-dark-100: #00359e;
  --pea-utility-blue-dark-200: #0040c1;
  --pea-utility-blue-dark-300: #004eeb;
  --pea-utility-blue-dark-400: #155eef;
  --pea-utility-blue-dark-500: #2970ff;
  --pea-utility-blue-dark-600: #528bff;
  --pea-utility-blue-dark-700: #84adff;
  --pea-utility-indigo-50: #1f235b;
  --pea-utility-indigo-100: #2d3282;
  --pea-utility-indigo-200: #2d31a6;
  --pea-utility-indigo-300: #3538cd;
  --pea-utility-indigo-400: #444ce7;
  --pea-utility-indigo-500: #6172f3;
  --pea-utility-indigo-600: #8098f9;
  --pea-utility-indigo-700: #a4bcfd;
  --pea-utility-purple-50: #27115f;
  --pea-utility-purple-100: #3e1c96;
  --pea-utility-purple-200: #4a1fb8;
  --pea-utility-purple-300: #5925dc;
  --pea-utility-purple-400: #6938ef;
  --pea-utility-purple-500: #7a5af8;
  --pea-utility-purple-600: #9b8afb;
  --pea-utility-purple-700: #bdb4fe;
  --pea-utility-fuchsia-50: #47104c;
  --pea-utility-fuchsia-100: #6f1877;
  --pea-utility-fuchsia-200: #821890;
  --pea-utility-fuchsia-300: #9f1ab1;
  --pea-utility-fuchsia-400: #ba24d5;
  --pea-utility-fuchsia-500: #d444f1;
  --pea-utility-fuchsia-600: #e478fa;
  --pea-utility-fuchsia-700: #eeaafd;
  --pea-utility-pink-50: #4e0d30;
  --pea-utility-pink-100: #851651;
  --pea-utility-pink-200: #9e165f;
  --pea-utility-pink-300: #c11574;
  --pea-utility-pink-400: #dd2590;
  --pea-utility-pink-500: #ee46bc;
  --pea-utility-pink-600: #f670c7;
  --pea-utility-pink-700: #faa7e0;
  --pea-utility-orange-dark-50: #57130a;
  --pea-utility-orange-dark-100: #771a0d;
  --pea-utility-orange-dark-200: #97180c;
  --pea-utility-orange-dark-300: #bc1b06;
  --pea-utility-orange-dark-400: #e62e05;
  --pea-utility-orange-dark-500: #ff4405;
  --pea-utility-orange-dark-600: #ff692e;
  --pea-utility-orange-dark-700: #ff9c66;
  --pea-utility-orange-50: #511c10;
  --pea-utility-orange-100: #772917;
  --pea-utility-orange-200: #932f19;
  --pea-utility-orange-300: #b93815;
  --pea-utility-orange-400: #e04f16;
  --pea-utility-orange-500: #ef6820;
  --pea-utility-orange-600: #f38744;
  --pea-utility-orange-700: #f7b27a;
  --pea-utility-yellow-50: #542c0d;
  --pea-utility-yellow-100: #713b12;
  --pea-utility-yellow-200: #854a0e;
  --pea-utility-yellow-300: #a15c07;
  --pea-utility-yellow-400: #ca8504;
  --pea-utility-yellow-500: #eaaa08;
  --pea-utility-yellow-600: #fac515;
  --pea-utility-yellow-700: #fde272;
  --pea-component-app-store-badge-border: #ffffff;
  --pea-component-button-primary-text: #ffffff;
  --pea-component-button-primary-icon: #ffffff;
  --pea-component-button-primary-border: #cf07aa;
  --pea-component-button-primary-border-hover: #e134c1;
  --pea-component-button-primary-bg: #cf07aa;
  --pea-component-button-primary-bg-hover: #e134c1;
  --pea-component-button-destructive-primary-bg: #d92d20;
  --pea-component-button-destructive-primary-bg-hover: #f04438;
  --pea-component-button-destructive-primary-border: #d92d20;
  --pea-component-button-destructive-primary-border-hover: #f04438;
  --pea-component-avatar-styles-bg-neutral: #e0e0e0;
  --pea-component-footer-button-fg: #cecfd2;
  --pea-component-footer-button-fg-hover: #f0f0f1;
  --pea-component-file-type-icon-text: #ffffff;
  --pea-component-file-type-icon-fg-brand: #94979c;
  --pea-component-file-type-icon-fg-brand-alt: #94979c;
  --pea-component-file-type-icon-fg-brand-on-brand: #94979c;
  --pea-component-file-type-icon-bg-brand: #94979c;
  --pea-component-file-type-icon-bg-gray: #61656c;
  --pea-component-file-type-icon-bg-blue: #2970ff;
  --pea-component-file-type-icon-bg-indigo: #6172f3;
  --pea-component-file-type-icon-bg-orange-dark: #ff4405;
  --pea-component-file-type-icon-bg-green: #16b364;
  --pea-component-featured-icon-text: #ffffff;
  --pea-component-featured-icon-fg: #ffffff;
  --pea-component-featured-icon-fg-brand: #fbd9f9;
  --pea-component-featured-icon-fg-gray: #94979c;
  --pea-component-featured-icon-fg-error: #fecdca;
  --pea-component-featured-icon-fg-warning: #fedf89;
  --pea-component-featured-icon-fg-success: #abefc6;
  --pea-component-featured-icon-bg-brand: #e134c1;
  --pea-component-featured-icon-bg-gray: #22262f;
  --pea-component-featured-icon-bg-error: #d92d20;
  --pea-component-featured-icon-bg-warning: #dc6803;
  --pea-component-featured-icon-bg-success: #079455;
  --pea-component-featured-icon-border-brand: #e134c1;
  --pea-component-featured-icon-border-gray: #22262f;
  --pea-component-featured-icon-border-error: #d92d20;
  --pea-component-featured-icon-border-warning: #dc6803;
  --pea-component-featured-icon-border-success: #079455;
  --pea-component-star-icon-fg-warning: #fdb022;
  --pea-component-screen-mockup-border: #373a41;
  --pea-component-slider-handle-bg: #0c0e12;
  --pea-component-slider-handle-border: #e134c1;
  --pea-component-toggle-button-fg-disabled: #61656c;
  --pea-component-toggle-border: rgba(255, 255, 255, 0);
  --pea-component-toggle-slim-border-pressed: rgba(255, 255, 255, 0);
  --pea-component-toggle-slim-border-pressed-hover: rgba(255, 255, 255, 0);
  --pea-component-tooltip-text: #ffffff;
  --pea-component-tooltip-supporting-text: #cecfd2;
  --pea-component-tooltip-bg: #373a41;
  --pea-component-text-editor-icon-fg: #94979c;
  --pea-component-text-editor-icon-fg-active: #ffffff;
  --pea-component-tab-button-brand-text: #ffffff;
  --pea-component-tab-button-brand-border: #cf07aa;
  --pea-component-tab-button-brand-border-hover: #e134c1;
  --pea-component-tab-button-brand-bg: #cf07aa;
  --pea-component-tab-button-brand-bg-hover: #e134c1;
  --pea-component-tab-button-white-bg-primary-alt: #22262f;
  --pea-component-chart-data-border: rgba(255, 255, 255, 0);
  --pea-component-chart-legend-border: rgba(0, 0, 0, 0.1);
  --pea-component-chart-data-fg-white: #ffffff;
  --pea-component-chart-data-fg-yellow: #fff157;
  --pea-component-chart-data-1-bg: #a80689;
  --pea-component-chart-data-2-bg: #e134c1;
  --pea-component-chart-data-3-bg: #ef82e1;
  --pea-component-chart-data-4-bg: #f8bff4;
  --pea-component-chart-data-5-bg: #fbd9f9;
  --pea-component-chart-data-6-bg: #fff7ff;
  --pea-component-chart-data-fg-opacity: 0;