  --pea-text-primary: #fff157;
  --pea-text-primary-on-brand: #fff157;
  --pea-text-secondary: #fff157;
  --pea-text-secondary-hover: #fff157;
  --pea-text-secondary-on-brand: #fff157;
  --pea-text-tertiary: #fff157;
  --pea-text-tertiary-hover: #fff157;
  --pea-text-tertiary-on-brand: #fff157;
  --pea-text-quaternary: #fff157;
  --pea-text-quaternary-on-brand: #fff157;
  --pea-text-white: #ffffff;
  --pea-text-disabled: #cecfd2;
  --pea-text-placeholder: #cecfd2;
  --pea-text-placeholder-subtle: #94979c;
  --pea-text-brand-primary: #fff157;
  --pea-text-brand-secondary: #fff157;
  --pea-text-brand-secondary-hover: #fff157;
  --pea-text-brand-tertiary: #fff157;
  --pea-text-brand-tertiary-alt: #fff157;
  --pea-text-error-primary: #ff6666;
  --pea-text-error-primary-hover: #ff6666;
  --pea-text-warning-primary: #ffa500;
  --pea-text-success-primary: #00ff00;
  --pea-border-primary: #ffffff;
  --pea-border-secondary: #ffffff;
  --pea-border-secondary-alt: #ffffff;
  --pea-border-tertiary: #ffffff;
  --pea-border-disabled: #373a41;
  --pea-border-disabled-subtle: #22262f;
  --pea-border-brand: #ff57d2;
  --pea-border-brand-alt: #373a41;
  --pea-border-error: #ff6666;
  --pea-border-error-subtle: #ff6666;
  --pea-fg-primary: #fff157;
  --pea-fg-secondary: #fff157;
  --pea-fg-secondary-hover: #fff157;
  --pea-fg-tertiary: #fff157;
  --pea-fg-tertiary-hover: #fff157;
  --pea-fg-quaternary: #fff157;
  --pea-fg-quaternary-hover: #fff157;
  --pea-fg-white: #ffffff;
  --pea-fg-disabled: #cecfd2;
  --pea-fg-disabled-subtle: #94979c;
  --pea-fg-brand-primary: #ff57d2;
  --pea-fg-brand-primary-alt: #ff57d2;
  --pea-fg-brand-primary-on-brand: #fbd9f9;
  --pea-fg-brand-secondary: #ff57d2;
  --pea-fg-brand-secondary-alt: #fff157;
  --pea-fg-brand-secondary-hover: #fff157;
  --pea-fg-error-primary: #ff6666;
  --pea-fg-error-secondary: #ff6666;
  --pea-fg-warning-primary: #ffa500;
  --pea-fg-warning-secondary: #ffa500;
  --pea-fg-success-primary: #00ff00;
  --pea-fg-success-secondary: #00ff00;
  --pea-bg-primary: #0c0e12;
  --pea-bg-primary-alt: #13161b;
  --pea-bg-primary-hover: #22262f;
  --pea-bg-primary-solid: #13161b;
  --pea-bg-secondary: #13161b;
  --pea-bg-secondary-alt: #0c0e12;
  --pea-bg-secondary-hover: #22262f;
  --pea-bg-secondary-subtle: #13161b;
  --pea-bg-secondary-solid: #fff157;
  --pea-bg-tertiary: #22262f;
  --pea-bg-quaternary: #373a41;
  --pea-bg-active: #22262f;
  --pea-bg-disabled: #22262f;
  --pea-bg-disabled-subtle: #13161b;
  --pea-bg-overlay: #22262f;
  --pea-bg-brand-primary: #e95ed2;
  --pea-bg-brand-primary-alt: #22262f;
  --pea-bg-brand-secondary: #ff57d2;
  --pea-bg-brand-solid: #ff57d2;
  --pea-bg-brand-solid-hover: #ff57d2;
  --pea-bg-brand-section: #13161b;
  --pea-bg-brand-section-subtle: #0c0e12;
  --pea-bg-error-primary: #55160c;
  --pea-bg-error-secondary: #ff6666;
  --pea-bg-error-solid: #ff6666;
  --pea-bg-error-solid-hover: #ff6666;
  --pea-bg-warning-primary: #4e1d09;
  --pea-bg-warning-secondary: #ffa500;
  --pea-bg-warning-solid: #ffa500;
  --pea-bg-success-primary: #053321;
  --pea-bg-success-secondary: #00ff00;
  --pea-bg-success-solid: #00ff00;
  --pea-effect-focus-ring-brand: #ffffff;
  --pea-effect-focus-ring-error: #ffffff;
  --pea-effect-shadow-xs: rgba(255, 255, 255, 0);
  --pea-effect-shadow-sm-01: rgba(255, 255, 255, 0);
  --pea-effect-shadow-sm-02: rgba(255, 255, 255, 0);
  --pea-effect-shadow-md-01: rgba(255, 255, 255, 0);
  --pea-effect-shadow-md-02: rgba(255, 255, 255, 0);
  --pea-effect-shadow-lg-01: rgba(255, 255, 255, 0);
  --pea-effect-shadow-lg-02: rgba(255, 255, 255, 0);
  --pea-effect-shadow-lg-03: rgba(255, 255, 255, 0);
  --pea-effect-shadow-xl-01: rgba(255, 255, 255, 0);
  --pea-effect-shadow-xl-02: rgba(255, 255, 255, 0);
  --pea-effect-shadow-xl-03: rgba(255, 255, 255, 0);
  --pea-effect-shadow-2xl-01: rgba(255, 255, 255, 0);
  --pea-effect-shadow-2xl-02: rgba(255, 255, 255, 0);
  --pea-effect-shadow-3xl-01: rgba(255, 255, 255, 0);
  --pea-effect-shadow-3xl-02: rgba(255, 255, 255, 0);
  --pea-effect-shadow-skeumorphic-inner: rgba(12, 14, 18, 0.05);
  --pea-effect-shadow-skeumorphic-inner-border: rgba(12, 14, 18, 0.18);
  --pea-effect-portfolio-mockup-shadow-main-centre-md: rgba(255, 255, 255, 0);
  --pea-effect-portfolio-mockup-shadow-main-centre-lg: rgba(255, 255, 255, 0);
  --pea-effect-portfolio-mockup-shadow-overlay-lg: rgba(255, 255, 255, 0);
  --pea-effect-portfolio-mockup-shadow-grid-md: rgba(255, 255, 255, 0);
  --pea-alpha-white-10: rgba(12, 14, 18, 0.1);
  --pea-alpha-white-20: rgba(12, 14, 18, 0.2);
  --pea-alpha-white-30: rgba(12, 14, 18, 0.3);
  --pea-alpha-white-40: rgba(12, 14, 18, 0.4);
  --pea-alpha-white-50: rgba(12, 14, 18, 0.5);
  --pea-alpha-white-60: rgba(12, 14, 18, 0.6);
  --pea-alpha-white-70: rgba(12, 14, 18, 0.7);
  --pea-alpha-white-80: rgba(12, 14, 18, 0.8);
  --pea-alpha-white-90: rgba(12, 14, 18, 0.9);
  --pea-alpha-white-100: #0c0e12;
  --pea-alpha-black-10: rgba(255, 255, 255, 0.1);
  --pea-alpha-black-20: rgba(255, 255, 255, 0.2);
  --pea-alpha-black-30: rgba(255, 255, 255, 0.3);
  --pea-alpha-black-40: rgba(255, 255, 255, 0.4);
  --pea-alpha-black-50: rgba(255, 255, 255, 0.5);
  --pea-alpha-black-60: rgba(255, 255, 255, 0.6);
  --pea-alpha-black-70: rgba(255, 255, 255, 0.7);
  --pea-alpha-black-80: rgba(255, 255, 255, 0.8);
  --pea-alpha-black-90: rgba(255, 255, 255, 0.9);
  --pea-alpha-black-100: #ffffff;
  --pea-utility-gray-50: #0c0e12;
  --pea-utility-gray-100: #22262f;
  --pea-utility-gray-200: #fff157;
  --pea-utility-gray-300: #373a41;
  --pea-utility-gray-400: #fff157;
  --pea-utility-gray-500: #85888e;
  --pea-utility-gray-600: #fff157;
  --pea-utility-gray-700: #fff157;
  --pea-utility-gray-800: #ececed;
  --pea-utility-gray-900: #f0f0f1;
  --pea-utility-brand-50: #0c0e12;
  --pea-utility-brand-100: #450239;
  --pea-utility-brand-200: #fff157;
  --pea-utility-brand-300: #cf07aa;
  --pea-utility-brand-400: #fff157;
  --pea-utility-brand-500: #ff57d2;
  --pea-utility-brand-600: #fff157;
  --pea-utility-brand-700: #fff157;
  --pea-utility-brand-800: #f8bff4;
  --pea-utility-brand-900: #fbd9f9;
  --pea-utility-brand-50-alt: #0c0e12;
  --pea-utility-brand-100-alt: #22262f;
  --pea-utility-brand-200-alt: #fff157;
  --pea-utility-brand-300-alt: #373a41;
  --pea-utility-brand-400-alt: #fff157;
  --pea-utility-brand-500-alt: #85888e;
  --pea-utility-brand-600-alt: #fff157;
  --pea-utility-brand-700-alt: #fff157;
  --pea-utility-brand-800-alt: #ececed;
  --pea-utility-brand-900-alt: #f0f0f1;
  --pea-utility-error-50: #0c0e12;
  --pea-utility-error-100: #55160c;
  --pea-utility-error-200: #fff157;
  --pea-utility-error-300: #b42318;
  --pea-utility-error-400: #fff157;
  --pea-utility-error-500: #ff6666;
  --pea-utility-error-600: #fff157;
  --pea-utility-error-700: #fff157;
  --pea-utility-warning-50: #0c0e12;
  --pea-utility-warning-100: #4e1d09;
  --pea-utility-warning-200: #fff157;
  --pea-utility-warning-300: #b54708;
  --pea-utility-warning-400: #fff157;
  --pea-utility-warning-500: #ffa500;
  --pea-utility-warning-600: #fff157;
  --pea-utility-warning-700: #fff157;
  --pea-utility-success-50: #0c0e12;
  --pea-utility-success-100: #053321;
  --pea-utility-success-200: #fff157;
  --pea-utility-success-300: #067647;
  --pea-utility-success-400: #fff157;
  --pea-utility-success-500: #00ff00;
  --pea-utility-success-600: #fff157;
  --pea-utility-success-700: #fff157;
  --pea-utility-gray-blue-50: #0c0e12;
  --pea-utility-gray-blue-100: #0d0f1c;
  --pea-utility-gray-blue-200: #fff157;
  --pea-utility-gray-blue-300: #363f72;
  --pea-utility-gray-blue-400: #fff157;
  --pea-utility-gray-blue-500: #4e5ba6;
  --pea-utility-gray-blue-600: #fff157;
  --pea-utility-gray-blue-700: #fff157;
  --pea-utility-green-50: #0c0e12;
  --pea-utility-green-100: #052e1c;
  --pea-utility-green-200: #fff157;
  --pea-utility-green-300: #087443;
  --pea-utility-green-400: #fff157;
  --pea-utility-green-500: #16b364;
  --pea-utility-green-600: #fff157;
  --pea-utility-green-700: #fff157;
  --pea-utility-blue-light-50: #0c0e12;
  --pea-utility-blue-light-100: #062c41;
  --pea-utility-blue-light-200: #fff157;
  --pea-utility-blue-light-300: #026aa2;
  --pea-utility-blue-light-400: #fff157;
  --pea-utility-blue-light-500: #0ba5ec;
  --pea-utility-blue-light-600: #fff157;
  --pea-utility-blue-light-700: #fff157;
  --pea-utility-blue-50: #0c0e12;
  --pea-utility-blue-100: #102a56;
  --pea-utility-blue-200: #fff157;
  --pea-utility-blue-300: #175cd3;
  --pea-utility-blue-400: #fff157;
  --pea-utility-blue-500: #2e90fa;
  --pea-utility-blue-600: #fff157;
  --pea-utility-blue-700: #fff157;
  --pea-utility-blue-dark-50: #0c0e12;
  --pea-utility-blue-dark-100: #002266;
  --pea-utility-blue-dark-200: #fff157;
  --pea-utility-blue-dark-300: #004eeb;
  --pea-utility-blue-dark-400: #fff157;
  --pea-utility-blue-dark-500: #2970ff;
  --pea-utility-blue-dark-600: #fff157;
  --pea-utility-blue-dark-700: #fff157;
  --pea-utility-indigo-50: #0c0e12;
  --pea-utility-indigo-100: #1f235b;
  --pea-utility-indigo-200: #fff157;
  --pea-utility-indigo-300: #3538cd;
  --pea-utility-indigo-400: #fff157;
  --pea-utility-indigo-500: #6172f3;
  --pea-utility-indigo-600: #fff157;
  --pea-utility-indigo-700: #fff157;
  --pea-utility-purple-50: #0c0e12;
  --pea-utility-purple-100: #27115f;
  --pea-utility-purple-200: #fff157;
  --pea-utility-purple-300: #5925dc;
  --pea-utility-purple-400: #fff157;
  --pea-utility-purple-500: #7a5af8;
  --pea-utility-purple-600: #fff157;
  --pea-utility-purple-700: #fff157;
  --pea-utility-fuchsia-50: #0c0e12;
  --pea-utility-fuchsia-100: #47104c;
  --pea-utility-fuchsia-200: #fff157;
  --pea-utility-fuchsia-300: #9f1ab1;
  --pea-utility-fuchsia-400: #fff157;
  --pea-utility-fuchsia-500: #d444f1;
  --pea-utility-fuchsia-600: #fff157;
  --pea-utility-fuchsia-700: #fff157;
  --pea-utility-pink-50: #0c0e12;
  --pea-utility-pink-100: #4e0d30;
  --pea-utility-pink-200: #fff157;
  --pea-utility-pink-300: #c11574;
  --pea-utility-pink-400: #fff157;
  --pea-utility-pink-500: #ee46bc;
  --pea-utility-pink-600: #fff157;
  --pea-utility-pink-700: #fff157;
  --pea-utility-orange-dark-50: #0c0e12;
  --pea-utility-orange-dark-100: #57130a;
  --pea-utility-orange-dark-200: #fff157;
  --pea-utility-orange-dark-300: #bc1b06;
  --pea-utility-orange-dark-400: #fff157;
  --pea-utility-orange-dark-500: #ff4405;
  --pea-utility-orange-dark-600: #fff157;
  --pea-utility-orange-dark-700: #fff157;
  --pea-utility-orange-50: #0c0e12;
  --pea-utility-orange-100: #511c10;
  --pea-utility-orange-200: #fff157;
  --pea-utility-orange-300: #b93815;
  --pea-utility-orange-400: #fff157;
  --pea-utility-orange-500: #ef6820;
  --pea-utility-orange-600: #fff157;
  --pea-utility-orange-700: #fff157;
  --pea-utility-yellow-50: #0c0e12;
  --pea-utility-yellow-100: #542c0d;
  --pea-utility-yellow-200: #fff157;
  --pea-utility-yellow-300: #a15c07;
  --pea-utility-yellow-400: #fff157;
  --pea-utility-yellow-500: #eaaa08;
  --pea-utility-yellow-600: #fff157;
  --pea-utility-yellow-700: #fff157;
  --pea-component-app-store-badge-border: #ffffff;
  --pea-component-button-primary-text: #000000;
  --pea-component-button-primary-icon: #000000;
  --pea-component-button-primary-border: #fff157;
  --pea-component-button-primary-border-hover: #ffd700;
  --pea-component-button-primary-bg: #fff157;
  --pea-component-button-primary-bg-hover: #ffd700;
  --pea-component-button-destructive-primary-bg: #ff6666;
  --pea-component-button-destructive-primary-bg-hover: #e65c5c;
  --pea-component-button-destructive-primary-border: #ff6666;
  --pea-component-button-destructive-primary-border-hover: #e65c5c;
  --pea-component-avatar-styles-bg-neutral: #e0e0e0;
  --pea-component-footer-button-fg: #fff157;
  --pea-component-footer-button-fg-hover: #fff157;
  --pea-component-file-type-icon-text: #0c0e12;
  --pea-component-file-type-icon-fg-brand: #ff57d2;
  --pea-component-file-type-icon-fg-brand-alt: #ff57d2;
  --pea-component-file-type-icon-fg-brand-on-brand: #94979c;
  --pea-component-file-type-icon-bg-brand: #ff57d2;
  --pea-component-file-type-icon-bg-gray: #fff157;
  --pea-component-file-type-icon-bg-blue: #fff157;
  --pea-component-file-type-icon-bg-indigo: #fff157;
  --pea-component-file-type-icon-bg-orange-dark: #fff157;
  --pea-component-file-type-icon-bg-green: #fff157;
  --pea-component-featured-icon-text: #0c0e12;
  --pea-component-featured-icon-fg: #0c0e12;
  --pea-component-featured-icon-fg-brand: #ff57d2;
  --pea-component-featured-icon-fg-gray: #fff157;
  --pea-component-featured-icon-fg-error: #ff6666;
  --pea-component-featured-icon-fg-warning: #ffa500;
  --pea-component-featured-icon-fg-success: #00ff00;
  --pea-component-featured-icon-bg-brand: #0c0e12;
  --pea-component-featured-icon-bg-gray: #0c0e12;
  --pea-component-featured-icon-bg-error: #0c0e12;
  --pea-component-featured-icon-bg-warning: #0c0e12;
  --pea-component-featured-icon-bg-success: #0c0e12;
  --pea-component-featured-icon-border-brand: #ff57d2;
  --pea-component-featured-icon-border-gray: #fff157;
  --pea-component-featured-icon-border-error: #ff6666;
  --pea-component-featured-icon-border-warning: #ffa500;
  --pea-component-featured-icon-border-success: #00ff00;
  --pea-component-star-icon-fg-warning: #fff157;
  --pea-component-screen-mockup-border: #373a41;
  --pea-component-slider-handle-bg: #0c0e12;
  --pea-component-slider-handle-border: #ff57d2;
  --pea-component-toggle-button-fg-disabled: #61656c;
  --pea-component-toggle-border: rgba(255, 255, 255, 0);
  --pea-component-toggle-slim-border-pressed: rgba(255, 255, 255, 0);
  --pea-component-toggle-slim-border-pressed-hover: rgba(255, 255, 255, 0);
  --pea-component-tooltip-text: #000000;
  --pea-component-tooltip-supporting-text: #000000;
  --pea-component-tooltip-bg: #fff157;
  --pea-component-text-editor-icon-fg: #94979c;
  --pea-component-text-editor-icon-fg-active: #ffffff;
  --pea-component-tab-button-brand-text: #fff157;
  --pea-component-tab-button-brand-border: #fff157;
  --pea-component-tab-button-brand-border-hover: #fff157;
  --pea-component-tab-button-brand-bg: #0c0e12;
  --pea-component-tab-button-brand-bg-hover: #22262f;
  --pea-component-tab-button-white-bg-primary-alt: #22262f;
  --pea-component-chart-data-border: #0c0e12;
  --pea-component-chart-legend-border: #ffffff;
  --pea-component-chart-data-fg-white: #ffffff;
  --pea-component-chart-data-fg-yellow: #fff157;
  --pea-component-chart-data-1-bg: #fff157;
  --pea-component-chart-data-2-bg: #0c0e12;
  --pea-component-chart-data-3-bg: #0c0e12;
  --pea-component-chart-data-4-bg: #0c0e12;
  --pea-component-chart-data-5-bg: #ffffff;
  --pea-component-chart-data-6-bg: #0c0e12;
  --pea-component-chart-data-fg-opacity: 100;