  --pea-text-primary: #181d27;
  --pea-text-primary-on-brand: #ffffff;
  --pea-text-secondary: #414651;
  --pea-text-secondary-hover: #252b37;
  --pea-text-secondary-on-brand: #f8bff4;
  --pea-text-tertiary: #535862;
  --pea-text-tertiary-hover: #414651;
  --pea-text-tertiary-on-brand: #f8bff4;
  --pea-text-quaternary: #717680;
  --pea-text-quaternary-on-brand: #f4a1ec;
  --pea-text-white: #ffffff;
  --pea-text-disabled: #717680;
  --pea-text-placeholder: #717680;
  --pea-text-placeholder-subtle: #d5d7da;
  --pea-text-brand-primary: #74045f;
  --pea-text-brand-secondary: #a80689;
  --pea-text-brand-secondary-hover: #74045f;
  --pea-text-brand-tertiary: #cf07aa;
  --pea-text-brand-tertiary-alt: #cf07aa;
  --pea-text-error-primary: #d92d20;
  --pea-text-error-primary-hover: #b42318;
  --pea-text-warning-primary: #dc6803;
  --pea-text-success-primary: #079455;
  --pea-border-primary: #d5d7da;
  --pea-border-secondary: #e9eaeb;
  --pea-border-secondary-alt: rgba(0, 0, 0, 0.08);
  --pea-border-tertiary: #f5f5f5;
  --pea-border-disabled: #d5d7da;
  --pea-border-disabled-subtle: #e9eaeb;
  --pea-border-brand: #cf07aa;
  --pea-border-brand-alt: #a80689;
  --pea-border-error: #f04438;
  --pea-border-error-subtle: #fda29b;
  --pea-fg-primary: #181d27;
  --pea-fg-secondary: #414651;
  --pea-fg-secondary-hover: #252b37;
  --pea-fg-tertiary: #535862;
  --pea-fg-tertiary-hover: #414651;
  --pea-fg-quaternary: #a4a7ae;
  --pea-fg-quaternary-hover: #717680;
  --pea-fg-white: #ffffff;
  --pea-fg-disabled: #a4a7ae;
  --pea-fg-disabled-subtle: #d5d7da;
  --pea-fg-brand-primary: #a80689;
  --pea-fg-brand-primary-alt: #cf07aa;
  --pea-fg-brand-primary-on-brand: #a80689;
  --pea-fg-brand-secondary: #e134c1;
  --pea-fg-brand-secondary-alt: #e134c1;
  --pea-fg-brand-secondary-hover: #cf07aa;
  --pea-fg-error-primary: #d92d20;
  --pea-fg-error-secondary: #f04438;
  --pea-fg-warning-primary: #dc6803;
  --pea-fg-warning-secondary: #f79009;
  --pea-fg-success-primary: #079455;
  --pea-fg-success-secondary: #17b26a;
  --pea-bg-primary: #ffffff;
  --pea-bg-primary-alt: #ffffff;
  --pea-bg-primary-hover: #fafafa;
  --pea-bg-primary-solid: #0a0d12;
  --pea-bg-secondary: #fafafa;
  --pea-bg-secondary-alt: #fafafa;
  --pea-bg-secondary-hover: #f5f5f5;
  --pea-bg-secondary-subtle: #fdfdfd;
  --pea-bg-secondary-solid: #535862;
  --pea-bg-tertiary: #f5f5f5;
  --pea-bg-quaternary: #e9eaeb;
  --pea-bg-active: #fafafa;
  --pea-bg-disabled: #f5f5f5;
  --pea-bg-disabled-subtle: #fafafa;
  --pea-bg-overlay: #0a0d12;
  --pea-bg-brand-primary: #fdeefc;
  --pea-bg-brand-primary-alt: #fdeefc;
  --pea-bg-brand-secondary: #fdeefc;
  --pea-bg-brand-solid: #a80689;
  --pea-bg-brand-solid-hover: #74045f;
  --pea-bg-brand-section: #74045f;
  --pea-bg-brand-section-subtle: #a80689;
  --pea-bg-error-primary: #fef3f2;
  --pea-bg-error-secondary: #fee4e2;
  --pea-bg-error-solid: #d92d20;
  --pea-bg-error-solid-hover: #b42318;
  --pea-bg-warning-primary: #fffaeb;
  --pea-bg-warning-secondary: #fef0c7;
  --pea-bg-warning-solid: #dc6803;
  --pea-bg-success-primary: #ecfdf3;
  --pea-bg-success-secondary: #dcfae6;
  --pea-bg-success-solid: #079455;
  --pea-effect-focus-ring-brand: #cf07aa;
  --pea-effect-focus-ring-error: #f04438;
  --pea-effect-shadow-xs: rgba(10, 13, 18, 0.05);
  --pea-effect-shadow-sm-01: rgba(10, 13, 18, 0.1);
  --pea-effect-shadow-sm-02: rgba(10, 13, 18, 0.1);
  --pea-effect-shadow-md-01: rgba(10, 13, 18, 0.1);
  --pea-effect-shadow-md-02: rgba(10, 13, 18, 0.06);
  --pea-effect-shadow-lg-01: rgba(10, 13, 18, 0.08);
  --pea-effect-shadow-lg-02: rgba(10, 13, 18, 0.03);
  --pea-effect-shadow-lg-03: rgba(10, 13, 18, 0.04);
  --pea-effect-shadow-xl-01: rgba(10, 13, 18, 0.08);
  --pea-effect-shadow-xl-02: rgba(10, 13, 18, 0.03);
  --pea-effect-shadow-xl-03: rgba(10, 13, 18, 0.04);
  --pea-effect-shadow-2xl-01: rgba(10, 13, 18, 0.18);
  --pea-effect-shadow-2xl-02: rgba(10, 13, 18, 0.04);
  --pea-effect-shadow-3xl-01: rgba(10, 13, 18, 0.14);
  --pea-effect-shadow-3xl-02: rgba(10, 13, 18, 0.04);
  --pea-effect-shadow-skeumorphic-inner: rgba(10, 13, 18, 0.05);
  --pea-effect-shadow-skeumorphic-inner-border: rgba(10, 13, 18, 0.18);
  --pea-effect-portfolio-mockup-shadow-main-centre-md: rgba(10, 13, 18, 0.14);
  --pea-effect-portfolio-mockup-shadow-main-centre-lg: rgba(10, 13, 18, 0.18);
  --pea-effect-portfolio-mockup-shadow-overlay-lg: rgba(10, 13, 18, 0.12);
  --pea-effect-portfolio-mockup-shadow-grid-md: rgba(10, 13, 18, 0.08);
  --pea-alpha-white-10: rgba(255, 255, 255, 0.1);
  --pea-alpha-white-20: rgba(255, 255, 255, 0.2);
  --pea-alpha-white-30: rgba(255, 255, 255, 0.3);
  --pea-alpha-white-40: rgba(255, 255, 255, 0.4);
  --pea-alpha-white-50: rgba(255, 255, 255, 0.5);
  --pea-alpha-white-60: rgba(255, 255, 255, 0.6);
  --pea-alpha-white-70: rgba(255, 255, 255, 0.7);
  --pea-alpha-white-80: rgba(255, 255, 255, 0.8);
  --pea-alpha-white-90: rgba(255, 255, 255, 0.9);
  --pea-alpha-white-100: #ffffff;
  --pea-alpha-black-10: rgba(0, 0, 0, 0.1);
  --pea-alpha-black-20: rgba(0, 0, 0, 0.2);
  --pea-alpha-black-30: rgba(0, 0, 0, 0.3);
  --pea-alpha-black-40: rgba(0, 0, 0, 0.4);
  --pea-alpha-black-50: rgba(0, 0, 0, 0.5);
  --pea-alpha-black-60: rgba(0, 0, 0, 0.6);
  --pea-alpha-black-70: rgba(0, 0, 0, 0.7);
  --pea-alpha-black-80: rgba(0, 0, 0, 0.8);
  --pea-alpha-black-90: rgba(0, 0, 0, 0.9);
  --pea-alpha-black-100: #000000;
  --pea-utility-gray-50: #fafafa;
  --pea-utility-gray-100: #f5f5f5;
  --pea-utility-gray-200: #e9eaeb;
  --pea-utility-gray-300: #d5d7da;
  --pea-utility-gray-400: #a4a7ae;
  --pea-utility-gray-500: #717680;
  --pea-utility-gray-600: #535862;
  --pea-utility-gray-700: #414651;
  --pea-utility-gray-800: #252b37;
  --pea-utility-gray-900: #181d27;
  --pea-utility-brand-50: #fdeefc;
  --pea-utility-brand-100: #fbd9f9;
  --pea-utility-brand-200: #f8bff4;
  --pea-utility-brand-300: #f4a1ec;
  --pea-utility-brand-400: #ef82e1;
  --pea-utility-brand-500: #e95ed2;
  --pea-utility-brand-600: #e134c1;
  --pea-utility-brand-700: #cf07aa;
  --pea-utility-brand-800: #a80689;
  --pea-utility-brand-900: #74045f;
  --pea-utility-brand-50-alt: #fdeefc;
  --pea-utility-brand-100-alt: #fbd9f9;
  --pea-utility-brand-200-alt: #f8bff4;
  --pea-utility-brand-300-alt: #f4a1ec;
  --pea-utility-brand-400-alt: #ef82e1;
  --pea-utility-brand-500-alt: #e95ed2;
  --pea-utility-brand-600-alt: #e134c1;
  --pea-utility-brand-700-alt: #cf07aa;
  --pea-utility-brand-800-alt: #a80689;
  --pea-utility-brand-900-alt: #74045f;
  --pea-utility-error-50: #fef3f2;
  --pea-utility-error-100: #fee4e2;
  --pea-utility-error-200: #fecdca;
  --pea-utility-error-300: #fda29b;
  --pea-utility-error-400: #f97066;
  --pea-utility-error-500: #f04438;
  --pea-utility-error-600: #d92d20;
  --pea-utility-error-700: #b42318;
  --pea-utility-warning-50: #fffaeb;
  --pea-utility-warning-100: #fef0c7;
  --pea-utility-warning-200: #fedf89;
  --pea-utility-warning-300: #fec84b;
  --pea-utility-warning-400: #fdb022;
  --pea-utility-warning-500: #f79009;
  --pea-utility-warning-600: #dc6803;
  --pea-utility-warning-700: #b54708;
  --pea-utility-success-50: #ecfdf3;
  --pea-utility-success-100: #dcfae6;
  --pea-utility-success-200: #abefc6;
  --pea-utility-success-300: #75e0a7;
  --pea-utility-success-400: #47cd89;
  --pea-utility-success-500: #17b26a;
  --pea-utility-success-600: #079455;
  --pea-utility-success-700: #067647;
  --pea-utility-gray-blue-50: #f8f9fc;
  --pea-utility-gray-blue-100: #eaecf5;
  --pea-utility-gray-blue-200: #d5d9eb;
  --pea-utility-gray-blue-300: #b3b8db;
  --pea-utility-gray-blue-400: #717bbc;
  --pea-utility-gray-blue-500: #4e5ba6;
  --pea-utility-gray-blue-600: #3e4784;
  --pea-utility-gray-blue-700: #363f72;
  --pea-utility-green-50: #edfcf2;
  --pea-utility-green-100: #d3f8df;
  --pea-utility-green-200: #aaf0c4;
  --pea-utility-green-300: #73e2a3;
  --pea-utility-green-400: #3ccb7f;
  --pea-utility-green-500: #16b364;
  --pea-utility-green-600: #099250;
  --pea-utility-green-700: #087443;
  --pea-utility-blue-light-50: #f0f9ff;
  --pea-utility-blue-light-100: #e0f2fe;
  --pea-utility-blue-light-200: #b9e6fe;
  --pea-utility-blue-light-300: #7cd4fd;
  --pea-utility-blue-light-400: #36bffa;
  --pea-utility-blue-light-500: #0ba5ec;
  --pea-utility-blue-light-600: #0086c9;
  --pea-utility-blue-light-700: #026aa2;
  --pea-utility-blue-50: #eff8ff;
  --pea-utility-blue-100: #d1e9ff;
  --pea-utility-blue-200: #b2ddff;
  --pea-utility-blue-300: #84caff;
  --pea-utility-blue-400: #53b1fd;
  --pea-utility-blue-500: #2e90fa;
  --pea-utility-blue-600: #1570ef;
  --pea-utility-blue-700: #175cd3;
  --pea-utility-blue-dark-50: #eff4ff;
  --pea-utility-blue-dark-100: #d1e0ff;
  --pea-utility-blue-dark-200: #b2ccff;
  --pea-utility-blue-dark-300: #84adff;
  --pea-utility-blue-dark-400: #528bff;
  --pea-utility-blue-dark-500: #2970ff;
  --pea-utility-blue-dark-600: #155eef;
  --pea-utility-blue-dark-700: #004eeb;
  --pea-utility-indigo-50: #eef4ff;
  --pea-utility-indigo-100: #e0eaff;
  --pea-utility-indigo-200: #c7d7fe;
  --pea-utility-indigo-300: #a4bcfd;
  --pea-utility-indigo-400: #8098f9;
  --pea-utility-indigo-500: #6172f3;
  --pea-utility-indigo-600: #444ce7;
  --pea-utility-indigo-700: #3538cd;
  --pea-utility-purple-50: #f4f3ff;
  --pea-utility-purple-100: #ebe9fe;
  --pea-utility-purple-200: #d9d6fe;
  --pea-utility-purple-300: #bdb4fe;
  --pea-utility-purple-400: #9b8afb;
  --pea-utility-purple-500: #7a5af8;
  --pea-utility-purple-600: #6938ef;
  --pea-utility-purple-700: #5925dc;
  --pea-utility-fuchsia-50: #fdf4ff;
  --pea-utility-fuchsia-100: #fbe8ff;
  --pea-utility-fuchsia-200: #f6d0fe;
  --pea-utility-fuchsia-300: #eeaafd;
  --pea-utility-fuchsia-400: #e478fa;
  --pea-utility-fuchsia-500: #d444f1;
  --pea-utility-fuchsia-600: #ba24d5;
  --pea-utility-fuchsia-700: #9f1ab1;
  --pea-utility-pink-50: #fdf2fa;
  --pea-utility-pink-100: #fce7f6;
  --pea-utility-pink-200: #fcceee;
  --pea-utility-pink-300: #faa7e0;
  --pea-utility-pink-400: #f670c7;
  --pea-utility-pink-500: #ee46bc;
  --pea-utility-pink-600: #dd2590;
  --pea-utility-pink-700: #c11574;
  --pea-utility-orange-dark-50: #fff4ed;
  --pea-utility-orange-dark-100: #ffe6d5;
  --pea-utility-orange-dark-200: #ffd6ae;
  --pea-utility-orange-dark-300: #ff9c66;
  --pea-utility-orange-dark-400: #ff692e;
  --pea-utility-orange-dark-500: #ff4405;
  --pea-utility-orange-dark-600: #e62e05;
  --pea-utility-orange-dark-700: #bc1b06;
  --pea-utility-orange-50: #fef6ee;
  --pea-utility-orange-100: #fdead7;
  --pea-utility-orange-200: #f9dbaf;
  --pea-utility-orange-300: #f7b27a;
  --pea-utility-orange-400: #f38744;
  --pea-utility-orange-500: #ef6820;
  --pea-utility-orange-600: #e04f16;
  --pea-utility-orange-700: #b93815;
  --pea-utility-yellow-50: #fefbe8;
  --pea-utility-yellow-100: #fef7c3;
  --pea-utility-yellow-200: #feee95;
  --pea-utility-yellow-300: #fde272;
  --pea-utility-yellow-400: #fac515;
  --pea-utility-yellow-500: #eaaa08;
  --pea-utility-yellow-600: #ca8504;
  --pea-utility-yellow-700: #a15c07;
  --pea-component-app-store-badge-border: #a6a6a6;
  --pea-component-button-primary-text: #ffffff;
  --pea-component-button-primary-icon: #ffffff;
  --pea-component-button-primary-border: #a80689;
  --pea-component-button-primary-border-hover: #74045f;
  --pea-component-button-primary-bg: #a80689;
  --pea-component-button-primary-bg-hover: #74045f;
  --pea-component-button-destructive-primary-bg: #d92d20;
  --pea-component-button-destructive-primary-bg-hover: #b42318;
  --pea-component-button-destructive-primary-border: #d92d20;
  --pea-component-button-destructive-primary-border-hover: #b42318;
  --pea-component-avatar-styles-bg-neutral: #e0e0e0;
  --pea-component-footer-button-fg: #f8bff4;
  --pea-component-footer-button-fg-hover: #ffffff;
  --pea-component-file-type-icon-text: #ffffff;
  --pea-component-file-type-icon-fg-brand: #a80689;
  --pea-component-file-type-icon-fg-brand-alt: #cf07aa;
  --pea-component-file-type-icon-fg-brand-on-brand: #f8bff4;
  --pea-component-file-type-icon-bg-brand: #a80689;
  --pea-component-file-type-icon-bg-gray: #414651;
  --pea-component-file-type-icon-bg-blue: #155eef;
  --pea-component-file-type-icon-bg-indigo: #444ce7;
  --pea-component-file-type-icon-bg-orange-dark: #e62e05;
  --pea-component-file-type-icon-bg-green: #099250;
  --pea-component-featured-icon-text: #ffffff;
  --pea-component-featured-icon-fg: #ffffff;
  --pea-component-featured-icon-fg-brand: #a80689;
  --pea-component-featured-icon-fg-gray: #717680;
  --pea-component-featured-icon-fg-error: #d92d20;
  --pea-component-featured-icon-fg-warning: #dc6803;
  --pea-component-featured-icon-fg-success: #079455;
  --pea-component-featured-icon-bg-brand: #fdeefc;
  --pea-component-featured-icon-bg-gray: #f5f5f5;
  --pea-component-featured-icon-bg-error: #fee4e2;
  --pea-component-featured-icon-bg-warning: #fef0c7;
  --pea-component-featured-icon-bg-success: #dcfae6;
  --pea-component-featured-icon-border-brand: #fdeefc;
  --pea-component-featured-icon-border-gray: #f5f5f5;
  --pea-component-featured-icon-border-error: #fee4e2;
  --pea-component-featured-icon-border-warning: #fef0c7;
  --pea-component-featured-icon-border-success: #dcfae6;
  --pea-component-star-icon-fg-warning: #fdb022;
  --pea-component-screen-mockup-border: #181d27;
  --pea-component-slider-handle-bg: #ffffff;
  --pea-component-slider-handle-border: #a80689;
  --pea-component-toggle-button-fg-disabled: #fafafa;
  --pea-component-toggle-border: #d5d7da;
  --pea-component-toggle-slim-border-pressed: #a80689;
  --pea-component-toggle-slim-border-pressed-hover: #74045f;
  --pea-component-tooltip-text: #ffffff;
  --pea-component-tooltip-supporting-text: #d5d7da;
  --pea-component-tooltip-bg: #0a0d12;
  --pea-component-text-editor-icon-fg: #a4a7ae;
  --pea-component-text-editor-icon-fg-active: #717680;
  --pea-component-tab-button-brand-text: #ffffff;
  --pea-component-tab-button-brand-border: #a80689;
  --pea-component-tab-button-brand-border-hover: #74045f;
  --pea-component-tab-button-brand-bg: #a80689;
  --pea-component-tab-button-brand-bg-hover: #74045f;
  --pea-component-tab-button-white-bg-primary-alt: #ffffff;
  --pea-component-chart-data-border: rgba(255, 255, 255, 0);
  --pea-component-chart-legend-border: rgba(0, 0, 0, 0.1);
  --pea-component-chart-data-fg-white: #ffffff;
  --pea-component-chart-data-fg-yellow: #fff157;
  --pea-component-chart-data-1-bg: #74045f;
  --pea-component-chart-data-2-bg: #a80689;
  --pea-component-chart-data-3-bg: #e134c1;
  --pea-component-chart-data-4-bg: #ef82e1;
  --pea-component-chart-data-5-bg: #f8bff4;
  --pea-component-chart-data-6-bg: #fdeefc;
  --pea-component-chart-data-fg-opacity: 0;